<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/assets/CSS/improvedResetPass.css">


    </head>
    <body>
       
          <div class="container"></div>
          <div class="modal">
            <div class="modal-container">
              <div class="modal-left">
                <h1 class="modal-title">Reset Password</h1>
                <p class="modal-desc">Please enter Email</p>
                {{ if .ErrorTitle}}
                <div class="error-message">
                   <p class="error-text">
              
                
                {{.ErrorTitle}}: {{.ErrorMessage}}
                </p>
              </div>
                {{end}}
                <form action="/inventory/reset" method="POST">
                <div class="input-block">
                  <label for="email" class="input-label">Email</label>
                  <input type="email" name="email" id="email" placeholder="Email">
                </div>
                <div class="modal-buttons">
                  <button class="input-button">Submit</button>
                </div>
                </form>
              </div>
              <div class="modal-right">
                <img src="https://images.unsplash.com/photo-1542393545-10f5cde2c810?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80" alt="">
              </div>
              <button class="icon-button close-button">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
              <path d="M 25 3 C 12.86158 3 3 12.86158 3 25 C 3 37.13842 12.86158 47 25 47 C 37.13842 47 47 37.13842 47 25 C 47 12.86158 37.13842 3 25 3 z M 25 5 C 36.05754 5 45 13.94246 45 25 C 45 36.05754 36.05754 45 25 45 C 13.94246 45 5 36.05754 5 25 C 5 13.94246 13.94246 5 25 5 z M 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.980469 15.990234 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 z"></path>
          </svg>
                </button>
            </div>
     
          </div>

    </body>

    <script src="/assets/JS/improvedResetPass.js"></script>


</html>