<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/CSS/limit.css">

    <title>Document</title>
</head>
<body>
    
        <div class="container">
                <div class="parent">
                  <input class="cbox" type="checkbox" />
                  <label class="add" for="cbox">Add Comment</label>
                  <input class="message" type="text" />
                </div>
              </div>


</body>

<script src="/assets/JS/limit.js"></script>



</html>